/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Noto Sans', 'Segoe UI', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  gap: 40px;
  flex-direction: column;
}

ul {
  gap: 10px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

li::before {
  content: '>';
  margin-right: 5px;
  font-weight: 900;
}

button {
  padding: 10px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s linear;
  width: 100%;
}

button:hover {
  background-color: #e0e0e0;
}

code {
  font-family: 'Roboto Slab', monospace;
  background-color: #292929;
  border: 1px solid #ddd;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
}

kbd {
  font-family: 'Roboto Slab', monospace;
  background-color: #464343;
  color: #fff;
  border-radius: 4px;
  display: inline;
  padding: 2px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.guide {
  padding: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.guide__element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.guide__element h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

#status {
  font-size: 18px;
}

.error {
  background-color: rgb(216, 66, 66);
  color: #e0e0e0;
  padding: 15px;
  border-radius: 4px;  
}